<!DOCTYPE html>

{% extends "booking/base.html" %}
{% load admin_list %}

{% block title %}予約{% endblock title %}

{% block content %}
<h4 class="mt-4 mb-5 border-bottom">予約
    <a href="{% url 'booking:calendar' %}" class="btn btn-primary btn-sm my-3">カレンダー</a><br>
</h4>

<p class="mt-4 mb-5 border-bottom">　利用日：{{ view.kwargs.year }}年{{ view.kwargs.month }}月{{ view.kwargs.day }}日 <br>
                                   開始時間：{{ hour }}:{{ minute }} <br>
                                   　自転車：{{ view.kwargs.bike }}</p>

<form action="" method="POST">

  {% csrf_token %}
  <!--views.pyの変数formを受け継いでhtmlに埋め込む-->
  {% bootstrap_form form layout='horizontal' %}
  
    <div class="form-group row">
        <div class="offset-md-3 col-md-9">
            <button type="submit" class="btn btn-primary">送信</button>
        </div>
    </div>
</form>

{% endblock content %}