<!DOCTYPE html>

{% extends "booking/base.html" %}
{% load bootstrap4 %}

{% block title %}貸出終了{% endblock title %}

{% block content %}
<h4 class="mt-4 mb-5 border-bottom">貸出終了
    <a href="{% url 'booking:calendar' %}" class="btn btn-info btn-sm my-3">カレンダー</a><br>
</h4>

<p class="mt-4 mb-5 border-bottom">
    予約削除しますか？？<br>
    予約変更は一旦削除してからお願いします。
</p>
<form action="" method="POST">
  {% csrf_token %}
    <div class="form-group row">
        <div class="col-md-1">
            <button type="submit" class="btn btn-primary ">OK</button>
        </div>
    </div>
</form>

{% endblock content %}