<!DOCTYPE html>

{% extends "booking/base.html" %}
{% load bootstrap4 %}

{% block title %}貸出終了{% endblock title %}

{% block content %}
<h4 class="mt-4 mb-5 border-bottom">貸出終了
    <a href="{% url 'booking:calendar' %}" class="btn btn-info btn-sm my-3">カレンダー</a><br>
</h4>

<p class="mt-4 mb-5 border-bottom">
    おかえりなさい♪<br>
    自転車の不調などありましたら知らせてくださいね！！
</p>
<form action="" method="POST">
  {% csrf_token %}
    <div class="form-group row">
        <div class="col-md-1">
            <button type="submit" class="btn btn-primary ">返却</button>
        </div>
    </div>
</form>

{% endblock content %}